<div id="admin-control">
    <a href="/admin/portfolio" {% if adminControl == "portfolio" %}class="active"{% endif %}>Add project to portfolio</a>
    <a href="/admin/blog" {% if adminControl == "blog" %}class="active"{% endif %}>Add blog post</a>
    <a href="#">Edit blog post</a>
</div>